/* =======================================================================
                            extra small device
======================================================================== */

@media (max-width: 575px) {
  /* ------------navigation bar start------------ */
  .navbar-light .navbar-brand {
    position: unset !important;
    padding: 0 !important;
    transform: skewX(0deg);
  }

  .navbar-light .navbar-brand img {
    transform: skewX(0deg);
  }

  .navbar-light .navbar-toggler {
    border-color: #e23e38 !important;
    color: transparent !important;
  }

  .navbar-light .navbar-toggler i {
    color: #e23e38;
  }

  .navbar-light .navbar-nav {
    background: #474747;
  }

  .navbar-light .navbar-nav .nav-item {
    z-index: 1;
  }

  .navbar-expand-lg .navbar-nav .nav-link::before {
    left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link::after {
    left: 0;
  }
  /* ------------navigation bar ends------------ */

  /* ------------banner start------------ */
  #banner .bg1 .banner-text h3::before,
  #banner .bg1 .banner-text h3::after,
  #banner .bg1 .banner-text h1::before,
  #banner .bg1 .banner-text h1::after,
  #banner .bg1 .banner-text p::before,
  #banner .bg1 .banner-text p::after {
    display: none;
  }

  #banner .banner-item .banner-text h3 {
    font-size: 26px;
  }

  #banner .banner-item .banner-text h1 {
    font-size: 52px;
  }
  /* ------------banner ends------------ */

  /* ------------modal start------------ */
  .modal .modal-dialog .modal-content .modal-body form {
    width: 280px;
  }

  .modal .modal-dialog .modal-content .modal-body form .input-item {
    width: 280px;
  }
  /* ------------modal ends------------ */

  /* ------------about start------------ */
  #about {
    margin: 50px 0;
  }

  #about .about-text p {
    line-height: 24px;
  }

  #about .about-video {
    margin-top: 25px;
  }

  /* ------------about ends------------ */

  /* ------------gallery start------------ */
  #gallery {
    margin-bottom: 50px;
  }
  /* ------------gallery ends------------ */

  /* ------------team start------------ */
  #team {
    margin-bottom: 0px;
  }
  /* ------------team ends------------ */

  /* ------------membership start------------ */
  #membership {
    margin-top: 50px;
  }

  #membership .membership-bg .membership-item .membership-list ul {
    padding: 15px 0 !important;
  }

  #membership .membership-bg .membership-item .membership-list ul li {
    margin-bottom: 10px;
  }
  /* ------------membership ends------------ */

  /* ------------counterup start------------ */
  #counterup {
    margin-top: 50px;
  }

  #counterup .counter-item {
    text-align: center;
  }
  /* ------------counterup ends------------ */

  /* ------------routine start------------ */
  #routine {
    margin-top: 50px;
  }

  #routine .routine-menu ul li {
    width: 100%;
  }

  #routine .routine-item ul li {
    width: 100%;
    text-align: center;
  }
  /* ------------routine ends------------ */

  /* ------------routine ends------------ */
  footer .footer-main .footer-item {
    margin-bottom: 20px;
  }
  /* ------------routine ends------------ */
}

/* =======================================================================
                            extra small device
======================================================================== */

/* =======================================================================
                            small device
======================================================================== */
@media (min-width: 576px) and (max-width: 767px) {
  /* ------------navigation bar start------------ */
  .navbar-light .navbar-brand {
    position: unset !important;
    padding: 0 !important;
    transform: skewX(0deg);
  }

  .navbar-light .navbar-brand img {
    transform: skewX(0deg);
  }

  .navbar-light .navbar-toggler {
    border-color: #e23e38 !important;
    color: transparent !important;
  }

  .navbar-light .navbar-toggler i {
    color: #e23e38;
  }

  .navbar-light .navbar-nav {
    background: #474747;
  }

  .navbar-light .navbar-nav .nav-item {
    z-index: 1;
  }

  .navbar-expand-lg .navbar-nav .nav-link::before {
    left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link::after {
    left: 0;
  }
  /* ------------navigation bar ends------------ */

  /* ------------banner start------------ */
  #banner .bg1 .banner-text h3::before,
  #banner .bg1 .banner-text h3::after,
  #banner .bg1 .banner-text h1::before,
  #banner .bg1 .banner-text h1::after,
  #banner .bg1 .banner-text p::before,
  #banner .bg1 .banner-text p::after {
    display: none;
  }

  #banner .banner-item .banner-text h3 {
    font-size: 26px;
  }

  #banner .banner-item .banner-text h1 {
    font-size: 52px;
  }
  /* ------------banner ends------------ */

  /* ------------about start------------ */
  #about {
    margin: 50px 0;
  }

  #about .about-text p {
    line-height: 24px;
  }

  #about .about-video {
    margin-top: 25px;
  }

  /* ------------about ends------------ */

  /* ------------gallery start------------ */
  #gallery {
    margin-bottom: 50px;
  }
  /* ------------gallery end------------ */

  /* ------------team start------------ */
  #team {
    margin-bottom: 20px;
  }
  /* ------------team ends------------ */

  /* ------------testimonial start------------ */
  #testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-details {
    margin-left: 0px !important;
  }

  #testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-image {
    width: 100%;
  }
  /* ------------testimonial ends------------ */

  /* ------------membership start------------ */
  #membership {
    margin-top: 50px;
  }

  #membership .membership-bg .membership-item .membership-header h4 {
    line-height: 40px;
    font-size: 13px !important;
  }

  #membership .membership-bg .membership-item .membership-image .member-overlay h5 {
    font-size: 30px !important;
  }

  #membership .membership-bg .membership-item .membership-image .member-overlay h5 span {
    font-size: 18px !important;
  }

  #membership .membership-bg .membership-item .membership-list ul {
    padding: 2px 0 !important;
  }

  #membership .membership-bg .membership-item .membership-list ul li {
    margin-bottom: 5px;
    font-size: 13px;
  }

  #membership .membership-bg .membership-item .membership-btn a {
    line-height: 22px;
    font-size: 13px;
  }
  /* ------------membership ends------------ */

  /* ------------counterup start------------ */
  #counterup {
    margin-top: 50px;
    padding-bottom: 30px;
  }

  #counterup .counter-item {
    margin-bottom: 15px;
  }
  /* ------------counterup ends------------ */

  /* ------------routine start------------ */
  #routine {
    margin-top: 50px;
  }

  #routine .routine-menu ul li {
    width: 49.7%;
    margin-bottom: 3px;
    margin-right: 3px;
  }
  #routine .routine-menu ul li:nth-child(2n) {
    margin-right: 0px;
  }
  #routine .routine-item ul li {
    width: 49.03%;
    text-align: center;
  }
  #routine .routine-item ul li:nth-child(5n) {
    margin-right: 5px !important;
  }
  /* ------------routine ends------------ */

  /* ------------footer start------------ */
  footer .footer-main .footer-item {
    margin-bottom: 20px;
  }

  footer .footer-main .flicker-photo,
  footer .footer-main .contact {
    margin-bottom: 0 !important;
  }

  /* ------------footer ends------------ */
}

/* =======================================================================
                            small device
======================================================================== */

/* =======================================================================
                            medium device
======================================================================== */
@media (min-width: 768px) and (max-width: 991px) {
  /* ------------navigation bar start------------ */
  .navbar-light .navbar-brand {
    position: unset !important;
    transform: skewX(-35deg);
    padding: 0 20px !important;
  }

  .navbar-light .navbar-brand img {
    transform: skewX(35deg);
  }

  .navbar-light .navbar-toggler {
    border-color: #e23e38 !important;
    color: transparent !important;
  }

  .navbar-light .navbar-toggler i {
    color: #e23e38;
  }

  .navbar-light .navbar-nav {
    background: #474747;
  }

  .navbar-light .navbar-nav .nav-item {
    z-index: 1;
  }

  .navbar-expand-lg .navbar-nav .nav-link::before {
    left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link::after {
    left: 0;
  }
  /* ------------navigation bar ends------------ */

  /* ------------banner start------------ */
  #banner .bg1 .banner-text h3::after {
    top: 20px;
    left: 70px;
    width: 155px;
  }

  #banner .bg1 .banner-text h3::before {
    top: 20px;
    right: 67px;
  }

  #banner .bg1 .banner-text h1::before {
    top: -16px;
    right: 67px;
  }

  #banner .bg1 .banner-text h1::after {
    top: -16px;
    left: 70px;
  }

  #banner .bg1 .banner-text p {
    padding: 0 79px;
  }

  #banner .bg1 .banner-text p::after {
    width: 73px;
    bottom: -52px;
    left: 70px;
  }

  #banner .bg1 .banner-text p::before {
    width: 48px;
    bottom: -51px;
    right: 67px;
  }

  #banner .bg2 .banner-text p {
    padding-right: 160px;
  }

  #banner .bg3 .banner-text p {
    padding-left: 160px;
  }
  /* ------------banner ends------------ */

  /* ------------about start------------ */
  #about {
    margin: 50px 0;
  }

  #about .about-text p {
    line-height: 24px;
  }

  #about .about-video {
    margin-top: 25px;
  }

  /* ------------about ends------------ */

  /* ------------gallery start------------ */
  #gallery {
    margin-bottom: 50px;
  }
  /* ------------gallery end------------ */

  /* ------------team start------------ */
  #team {
    margin-bottom: 20px;
  }

  #team .team-member {
    margin-top: 40px;
  }
  /* ------------team ends------------ */

  /* ------------membership start------------ */
  #membership {
    margin-top: 50px;
  }

  #membership .membership-bg .membership-item .membership-list ul {
    padding: 10px 0 !important;
  }

  #membership .membership-bg .membership-item .membership-list ul li {
    margin-bottom: 5px;
    font-size: 13px;
  }

  /* ------------membership ends------------ */

  /* ------------counterup start------------ */

  #counterup {
    margin-top: 50px;
    padding-bottom: 30px;
  }

  #counterup .counter-item {
    margin-bottom: 15px;
  }

  /* ------------counterup ends------------ */

  /* ------------routine start------------ */

  #routine {
    margin-top: 50px;
  }

  #routine .routine-item ul li {
    width: 19.42%;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
  }

  #routine .routine-item ul li p:last-of-type {
    font-size: 13px;
  }

  /* ------------routine ends------------ */

  /* ------------brand start------------ */
  #brand {
    margin-top: 45px;
  }
  /* ------------brand ends------------ */

  /* ------------footer start------------ */

  footer {
    margin-top: 50px;
  }

  footer .footer-main .footer-item {
    margin-bottom: 20px;
  }

  footer .footer-main .flicker-photo,
  footer .footer-main .contact {
    margin-bottom: 0 !important;
  }

  /* ------------footer ends------------ */
}
/* =======================================================================
                            medium device
======================================================================== */

/* =======================================================================
                            extra large device
======================================================================== */

@media (min-width: 1200px) and (max-width: 1399px) {
  /* ------------banner start------------ */
  #banner .bg1 .banner-text h3::after {
    top: 20px;
    left: -11px;
  }

  #banner .bg1 .banner-text h3::before {
    top: 20px;
    right: -6px;
  }

  #banner .bg1 .banner-text h1::after {
    top: -16px;
    left: -11px;
  }

  #banner .bg1 .banner-text h1::before {
    top: -16px;
    right: -6px;
  }

  #banner .bg1 .banner-text p {
    padding: 0 20px;
  }

  #banner .bg1 .banner-text p::after {
    width: 79px;
    bottom: -51px;
    left: -11px;
  }

  #banner .bg1 .banner-text p::before {
    bottom: -51px;
    right: -6px;
  }

  #banner .bg2 .banner-text p {
    padding-right: 20px;
  }

  #banner .bg3 .banner-text p {
    padding-left: 20px;
  }
  /* ------------banner end------------ */

  /* ------------about start------------ */
  #about .about-text p {
    line-height: 20px;
    font-size: 16px;
  }
  /* ------------about end------------ */

  /* ------------footer end------------ */
  footer .footer-main .footer-item ul li {
    font-size: 13px !important;
  }
  /* ------------footer end------------ */
}

/* =======================================================================
                            extra large device
======================================================================== */

/* =======================================================================
                            extra extra large device
======================================================================== */
@media (min-width: 1400px) {
  /* ------------banner start------------ */
  #banner .bg1 .banner-text h3::after {
    top: 21px;
    left: 33px;
  }

  #banner .bg1 .banner-text h3::before {
    top: 21px;
    right: 37px;
  }

  #banner .bg1 .banner-text h1::after {
    top: -15px;
    left: 33px;
  }

  #banner .bg1 .banner-text h1::before {
    top: -15px;
    right: 37px;
  }

  #banner .bg1 .banner-text p {
    padding: 0 50px;
  }

  #banner .bg2 .banner-text p {
    padding-right: 100px;
  }

  #banner .bg3 .banner-text p {
    padding-left: 100px;
  }

  #banner .bg1 .banner-text p::after {
    width: 80px;
    bottom: -52px;
    left: 33px;
  }

  #banner .bg1 .banner-text p::before {
    width: 48px;
    bottom: -53px;
    right: 37px;
  }
  /* ------------banner end------------ */

  /* ------------about start------------ */
  #about .about-text p {
    font-size: 14px;
    line-height: 24px;
    padding: 0 57px;
  }
  /* ------------about end------------ */

  /* ------------testimonial start------------ */

  #testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-image {
    width: 100%;
  }

  #testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-text p {
    font-size: 13px !important;
    padding-right: 40px;
    text-align: unset !important;
  }

  #testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-details {
    margin-left: 0;
  }
  /* ------------testimonial end------------ */

  /* ------------footer end------------ */
  footer .footer-main .footer-item ul li {
    font-size: 13px !important;
  }
  /* ------------footer end------------ */
}
/* =======================================================================
                            extra extra large device
======================================================================== */
