:root {
  --open: "Open Sans", sans-serif;
  --oswald: "Oswald", sans-serif;
  --brandcol: #e23e38;
  --linkhov: #ffffff;
  --over6: rgba(0, 0, 0, 0.6);
  --over8: rgba(0, 0, 0, 0.8);
  --over9: rgba(0, 0, 0, 0.9);
  --fover: rgba(0, 0, 0, 0.85);
  --glover: rgba(226, 62, 56, 0.5);
  --glb: rgba(255, 255, 255, 0.5);
  --hcol: #353535;
  --pcol: #777777;
  --icol: #1da0f2;
  --hcol2: #555555;
  --ddd: #dddddd;
  --f1f1: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

/* ========================================================
 common css ends
 ========================================================== */

.open-l {
  font-family: var(--open);
  font-weight: 300;
}

.open-r {
  font-family: var(--open);
  font-weight: 400;
}

.open-md {
  font-family: var(--open);
  font-weight: 500;
}

.open-sb {
  font-family: var(--open);
  font-weight: 600;
}

.open-b {
  font-family: var(--open);
  font-weight: 700;
}

.oswald-l {
  font-family: var(--oswald);
  font-weight: 300;
}

.oswald-r {
  font-family: var(--oswald);
  font-weight: 400;
}

.oswald-md {
  font-family: var(--oswald);
  font-weight: 500;
}

.oswald-sb {
  font-family: var(--oswald);
  font-weight: 600;
}

.oswald-b {
  font-family: var(--oswald);
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-22 {
  font-size: 22px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 60px;
}

/* ========================================================
 typography css end
 ========================================================== */

.navbar {
  background: rgba(53, 53, 53, 0.25);
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 99999;
}

.navbar-expand-lg .navbar-nav .nav-link {
  line-height: 50px;
  padding: 0 10px !important;
  position: relative;
  color: #f1f1f1 !important;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--hcol) !important;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
  content: "";
  width: 0%;
  height: 100%;
  background: var(--linkhov);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all linear 0.4s;
}
.navbar-expand-lg .navbar-nav .nav-link.active::before,
.navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--brandcol);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all linear 0.4s;
}

.navbar-expand-lg .navbar-nav .nav-link.active::after,
.navbar-expand-lg .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-light .navbar-brand {
  padding: 10px 35px !important;
  background: rgba(241, 241, 241, 0.2);
  transform: skewX(-40deg);
}

.navbar-light .navbar-brand img {
  transform: skewX(40deg);
}

/* ========================================================
 navbar css end
 ========================================================== */

#banner .bg1 {
  background: url(../images/banner1.jpg) no-repeat center / cover;
}

#banner .bg2 {
  background: url(../images/banner2.jpg) no-repeat center / cover;
}

#banner .bg3 {
  background: url(../images/banner3.jpg) no-repeat center / cover;
}

#banner .banner-item {
  position: relative;
  padding-top: 248px;
  padding-bottom: 117px;
  z-index: 1;
}

#banner .banner-item::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--over6);
  position: absolute;
  inset: 0;
  z-index: -1;
}

#banner .banner-item .banner-text h1 {
  padding-top: 10px;
  color: var(--brandcol);
  padding-bottom: 15px !important;
}

#banner .banner-item .banner-text p {
  line-height: 18px;
}

#banner .banner-item .banner-text a {
  margin-top: 30px;
  transition: all linear 0.4s;
  line-height: 34px;
  padding: 0 14px;
}

#banner .banner-item .banner-text a:hover {
  border-color: var(--brandcol);
  background: var(--brandcol);
}

#banner .banner-item .banner-text a:first-of-type {
  margin-right: 25px;
}

#banner .bg1 .banner-text h3 {
  position: relative;
}

#banner .bg1 .banner-text h3::after {
  content: "";
  width: 165px;
  height: 3px;
  background: var(--brandcol);
  position: absolute;
  top: 29px;
  left: -57px;
}

#banner .bg1 .banner-text h3::before {
  content: "";
  width: 110px;
  height: 3px;
  background: var(--brandcol);
  position: absolute;
  top: 29px;
  right: -56px;
}

#banner .bg1 .banner-text h1 {
  position: relative;
}

#banner .bg1 .banner-text h1::after {
  content: "";
  width: 3px;
  height: 200px;
  background: var(--brandcol);
  position: absolute;
  top: -7px;
  left: -57px;
}

#banner .bg1 .banner-text h1::before {
  content: "";
  width: 3px;
  height: 200px;
  background: var(--brandcol);
  position: absolute;
  top: -7px;
  right: -57px;
}

#banner .bg1 .banner-text p {
  position: relative;
}

#banner .bg1 .banner-text p::after {
  content: "";
  width: 75px;
  height: 3px;
  background: var(--brandcol);
  position: absolute;
  bottom: -42px;
  left: -57px;
}

#banner .bg1 .banner-text p::before {
  content: "";
  width: 46px;
  height: 3px;
  background: var(--brandcol);
  position: absolute;
  bottom: -42px;
  right: -57px;
}

#banner .slick-dots li button {
  font-size: 0;
  border: none;
  outline: none;
}

#banner .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  padding-left: 0 !important;
}

#banner .slick-dots li {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

#banner .slick-dots li.slick-active {
  border-color: var(--brandcol);
  background: var(--brandcol);
  transform: scale(1.2);
}

#banner .slick-dots li:last-child {
  margin-right: 0;
}

/* ========================================================
 banner css end
 ========================================================== */

header h3 {
  color: var(--hcol);
}

header img {
  margin-top: -5px !important;
}

/* ========================================================
 header css end
 ========================================================== */

#about {
  margin: 80px 0;
}

#about .about-video .overlay {
  background: var(--over6);
}

#about .about-video .overlay i {
  width: 48px;
  height: 48px;
  background: var(--brandcol);
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  color: var(--hcol);
}

#about .about-text p {
  color: var(--pcol);
  line-height: 24px;
}

#about .about-text p:first-of-type {
  padding-top: 15px !important;
}

#about .about-text p:last-of-type {
  padding-top: 20px !important;
}

/* ========================================================
 about css end
 ========================================================== */

#gallery {
  margin-bottom: 70px;
}

#gallery .gallery-bg {
  background: url(../images/gl-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
  margin-top: 25px;
  padding-top: 30px;
}

#gallery .gallery-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--over8);
  position: absolute;
  inset: 0;
  z-index: -1;
}

#gallery .gallery-bg .gallery-item {
  margin-bottom: 30px;
}

#gallery .gallery-bg .gallery-item .gallery-overlay {
  background: var(--glover);
  border: 5px solid var(--glb);
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.4s;
}

#gallery .gallery-bg .gallery-item:hover .gallery-overlay {
  visibility: visible;
  opacity: 1;
  transform: scale(0.95);
}

#gallery .gallery-bg .gallery-item .gallery-overlay i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* ========================================================
 about css end
 ========================================================== */

#team {
  margin-bottom: 40px;
}

#team .team-member {
  margin-top: 60px;
  transition: all linear 0.4s;
}

#team .team-member:hover {
  transform: translateY(-40px);
}

#team .team-member .team-image .team-overlay {
  background: var(--glover);
  border: 5px solid var(--glb);
  transform: scale(0);
  transition: all linear 0.4s;
}

#team .team-member:hover .team-image .team-overlay {
  transform: scale(0.95);
}

#team .team-member .team-image .team-overlay a {
  margin-right: 10px;
  margin-bottom: 10px;
}

#team .team-member .team-image .team-overlay a:last-of-type {
  margin-bottom: 0 !important;
}

#team .team-member .team-image .team-overlay a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: all linear 0.4s;
}

#team .team-member .team-image .team-overlay a i:hover {
  color: var(--icol);
  background: #fff;
}

#team .team-member .card {
  border-color: transparent;
  transition: all linear 0.4s;
}

#team .team-member:hover .card {
  border-color: var(--ddd);
}

#team .team-member .card .card-body h5 {
  margin-top: 18px;
  color: var(--hcol);
}

#team .team-member .card .card-body h6 {
  margin-top: 5px;
  color: var(--hcol2);
}

#team .team-member .card .card-body p {
  margin-top: 10px;
  padding: 0 1px;
  line-height: 18px;
  margin-bottom: 20px !important;
  color: var(--pcol);
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.4s;
}

#team .team-member:hover .card .card-body p {
  opacity: 1;
  visibility: visible;
}

/* ========================================================
 team css end
 ========================================================== */

#testimonial .testimonial-bg {
  background: url(../images/testimonial-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 80px;
  margin-top: 25px;
}

#testimonial .testimonial-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--over8);
  position: absolute;
  inset: 0;
  z-index: -1;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item {
  margin: 0 15px !important;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-image {
  width: 80px;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-details {
  margin-left: 14px;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-details h3 {
  padding-bottom: 5px !important;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-details .ratings {
  padding-top: 5px !important;
}

#testimonial .testimonial-bg .testimonial-slider .testimonial-item .testimonial-text p {
  font-size: 12px !important;
  text-align: justify;
  line-height: 18px;
  padding-top: 5px;
}

#testimonial .testimonial-bg .slick-dots li button {
  font-size: 0;
  border: none;
  outline: none;
}

#testimonial .testimonial-bg .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -64px;
  transform: translateX(-50%);
  padding-left: 0 !important;
}

#testimonial .testimonial-bg .slick-dots li {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

#testimonial .testimonial-bg .slick-dots li.slick-active {
  border-color: var(--brandcol);
  background: var(--brandcol);
  transform: scale(1.2);
}

#testimonial .testimonial-bg .slick-dots li:last-child {
  margin-right: 0;
}

/* ========================================================
 testimonial css end
 ========================================================== */

#membership {
  margin-top: 75px;
}

#membership .membership-bg {
  margin-top: 25px;
}

#membership .membership-bg .membership-item .membership-header h4 {
  background: var(--ddd);
  line-height: 55px;
  color: var(--hcol);
  transition: all linear 0.4s;
}

#membership .membership-bg .membership-item:hover .membership-header h4 {
  background: var(--brandcol);
  color: #fff;
}

#membership .membership-bg .membership-item .membership-image .member-overlay {
  background: var(--over8);
}

#membership .membership-bg .membership-item .membership-list ul {
  padding: 35px 0 !important;
}

#membership .membership-bg .membership-item .membership-list {
  background: var(--f1f1);
}

#membership .membership-bg .membership-item .membership-list ul li {
  color: var(--pcol);
  margin-bottom: 17px;
}

#membership .membership-bg .membership-item .membership-list ul li:last-child {
  margin-bottom: 0;
}

#membership .membership-bg .membership-item .membership-btn a {
  background: var(--ddd);
  line-height: 34px;
  transition: all linear 0.4s;
}

#membership .membership-bg .membership-item:hover .membership-btn a {
  color: #fff;
  background: var(--brandcol);
}

/* ========================================================
 membership css end
 ========================================================== */

#counterup {
  background: url(../images/counter-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 45px;
  margin-top: 80px;
}

#counterup::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--over9);
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* ========================================================
 counterup css end
 ========================================================== */

#routine {
  margin-top: 75px;
}

#routine .routine-menu {
  margin-top: 20px;
  margin-bottom: 30px;
}

#routine .routine-menu .nav-tabs {
  border-bottom: none;
}

#routine .routine-menu ul li {
  width: 16.66%;
  background: var(--f1f1);
  line-height: 50px;
}

#routine .routine-menu .nav-tabs .nav-link {
  border-radius: 0 !important;
  width: 100%;
  padding: 0 !important;
  color: var(--hcol);
}

#routine .routine-menu .nav-tabs .nav-link:hover {
  border-color: transparent !important;
}

#routine .routine-menu .nav-tabs .nav-link.active {
  border-color: transparent !important;
  color: var(--linkhov);
  background: var(--brandcol);
}

#routine .routine-item ul {
  display: flex;
  flex-wrap: wrap;
}

#routine .routine-item ul li {
  background: var(--f1f1);
  width: 19.57%;
  padding-top: 45px;
  padding-bottom: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#routine .routine-item ul li.active {
  background: var(--brandcol);
  color: var(--linkhov);
}

#routine .routine-item ul li:nth-child(5n) {
  margin-right: 0 !important;
}

#routine .routine-item ul li p {
  text-transform: capitalize;
}

#routine .routine-item ul li p:first-of-type {
  margin-bottom: 10px !important;
}

#routine .routine-item ul li p:last-of-type {
  margin-top: 5px !important;
}

/* ========================================================
 routine css end
 ========================================================== */

#brand {
  margin-top: 65px;
  position: relative;
}

#brand .brand-slider .brand-item.slick-center {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#brand .brand-slider .slick-track {
  padding: 5px 0px;
}

#brand .brand-slider .brand-item {
  margin: 0 15px;
}

#brand .left-arrow {
  font-size: 28px;
  color: var(--hcol);
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  transition: all linear 0.4s;
}

#brand .left-arrow:hover {
  color: var(--brandcol);
}

#brand .right-arrow {
  font-size: 28px;
  color: var(--hcol);
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  transition: all linear 0.4s;
}

#brand .right-arrow:hover {
  color: var(--brandcol);
}

/* ========================================================
 brand css end
 ========================================================== */

footer {
  background: url(../images/footer-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
  margin-top: 75px;
}

footer::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--fover);
  position: absolute;
  inset: 0;
  z-index: -1;
}

footer .footer-logo .logo {
  padding-top: 30px;
  padding-bottom: 60px;
}

footer .footer-main .opening-part ul {
  margin-top: 30px !important;
}

/* ========================================================
 footer css end
 ========================================================== */
